/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    position: fixed; /* fica sempre no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background: rgba(255, 255, 255, 0.85); /* fundo levemente transparente */
    backdrop-filter: blur(10px); /* efeito vidro */
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Logo */
.logo img {
height: 55px;
width: auto;
}

/* Links */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;       

}

/* Efeito hover */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
